body {
    font-family: 'Roboto';
    font-size: 35px;
    color: dimgrey;
}

.white body {
    font-family: 'Roboto';
    font-size: 35px;
    color: white;
}

.shadow body {
    font-family: 'Roboto';
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 5px #111;
}

.smallcaps body {
    font-family: 'Roboto';
    font-size: 35px;
    font-variant: small-caps;
    color: white;
}